section{
  padding-top: 10vh;
  //background-color: green;
}
.adopt {
  min-height: 60vh;
  width: 100vw;
}
.givHeight{
  height: auto;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  text-align: center;
}
.givHeight2{
  height: 60vh;
  min-height: 60vh;
  display: flex;
  justify-content: center;
}
.firstImg{
  max-height: 98%;
  margin-top: 1%;
  margin-bottom: 1%;
}
h1{
  text-align:center;
}
button{
  float: left;
}


//button Read more

.button_hola,
.button_hola::before,
.button_hola::after,
.button_hola span,
.button_hola span::before,
.button_hola span::after
{
  transition: all ease .5s;
}

.button_hola{
  position: relative;
  display: inline-block;
  padding: 0.3em;
  margin: 1em;
  border: solid 1px;
  text-transform: uppercase;
  cursor: pointer;
}


.button_hola span
{
  display: inline-block;
  width: 100%;
  padding: 0.4em 1.8em;
}

.button_hola span
{
  background-color: #9C2C2C;

  color: white;
}
.button_hola:hover span
{
  background-color: #303032;
  color: white;
}

.button_hola::before,
.button_hola::after,
.button_hola span::before,
.button_hola span::after
{
  content: '';
  position: absolute;
  border: 1px;
}

.button_hola::before,
.button_hola span::before
{
  border-style: solid none;
}

.button_hola::before,
.button_hola span::after{
  left: 0;
  top: -0.4em;
  width: 100%;
  height: calc(100% + 0.8em);
}

.button_hola::after,
.button_hola span::after
{
  border-style: none solid;
}

.button_hola::after,
.button_hola span::before
{
  top: 0;
  left: -0.4em;
  height: 100%;
  width: calc(100% + 0.8em);
}

.button_hola:hover::after,
.button_hola:hover span::after
{
  transform: scaleY(0);
}

.button_hola:hover::before,
.button_hola:hover span::before
{
  transform: scaleX(0);
}

.button_hola:hover span::after,
.button_hola:hover span::before
{
  opacity: 0;
}


@media screen and (max-width: 900px) {
  button {
    float: none;
  }
}
