<section>
<div class="container-fluid adopt">
    <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12 givHeight2 wow slideInLeft" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="0">
            <img src="../../../assets/img/dog_4.png" class="firstImg">
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12 pt-5 givHeight wow slideInRight" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="120">
            <article class="text w-75">
                <h1 class="pb-5"> Garder</h1>
                <p class="pb-5"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset  ndustry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing  containing </p>
                <button class="button_hola mt-5"><span> Read More</span></button>
            </article>
        </div>
    </div>
</div>
</section>
