<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand" href="#">
    <img
      src="../../../assets/img/logo2-removebg-preview.png"
      class="logo"
      width="40"
      height="40"
      alt="logo"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-end align-items-end"
    id="navbarNav"
  >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="#" *ngIf="!currentUser" (click)="showConnectionModal()">Sign In</a>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="#" *ngIf="!currentUser"(click)="showInscriptionModal()">Sign Up</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#" *ngIf="currentUser" > Hello {{currentUser.data.user.firstname}} </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#" *ngIf="currentUser" (click)="logout()">Sign out</a>
        </li>

    </ul>
  </div>
</nav>

