<div class="modal-header">
    <h5 class="modal-title">Modal title</h5>
    <button type="button" class="close" data-dismiss="modal" (click)="closeModal(currentUser)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
<!--    <p>{{ fromParent | json }}</p>-->
    <form [formGroup]="FormConnection">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password" id="password">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal(currentUser)">Close</button>
    <button type="button" class="btn btn-primary" (click)="connect()">Send</button>
</div>
