section{
  padding-top: 10vh;
}
h3{
  justify-content: center;
  text-align: center;
  font-family: Nanum Brush Script;

  font-size: 3em;

}

.carousel-inner {
  margin-left: 10vw;
  width: 80vw;
  height: 60vh;
}
