<section>
<h3> They found their home</h3>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm">
                        <img src="../../../assets/img/dog_3.png" class="d-block " alt="...">
                    </div>
                    <div class="col-sm">
                        <img src="../../../assets/img/dog_3.png" class="d-block " alt="...">
                    </div>
                    <div class="col-sm">
                        <img src="../../../assets/img/dog_3.png" class="d-block " alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm">
                        <img src="../../../assets/img/dog_3.png" class="d-block " alt="...">
                    </div>
                    <div class="col-sm">
                        <img src="../../../assets/img/dog_3.png" class="d-block " alt="...">
                    </div>
                    <div class="col-sm">
                        <img src="../../../assets/img/dog_3.png" class="d-block " alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <<div class="container-fluid">
            <div class="row">
                <div class="col-sm">
                    <img src="../../../assets/img/dog_4.png" class="d-block " alt="...">
                </div>
                <div class="col-sm">
                    <img src="../../../assets/img/dog_4.png" class="d-block " alt="...">
                </div>
                <div class="col-sm">
                    <img src="../../../assets/img/dog_4.png" class="d-block " alt="...">
                </div>
            </div>
        </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

</section>
