<div class="modal-header">
    <h5 class="modal-title">Modal title</h5>
    <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!--    <p>{{ fromParent | json }}</p>-->
    <form [formGroup]="FormAdoption">
        <div class="form-group">
            <label for="phone">Your phone number</label>
            <input type="phone" class="form-control" id="phone" formControlName="phone" aria-describedby="phone">
        </div>
        <div class="form-group">
            <label for="reason">Why do you want to have {{dog.name}}</label>
            <textarea class="form-control" id="reason" rows="3" formControlName="reason"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    <button type="button" class="btn btn-primary" (click)="adopt()">Send</button>
</div>
