<section>
    <div class="container-fluid">
            <div class="row">
                <div class=" col-lg-3 col-md-4 col-sm-6 pt-5" *ngFor="let dog of allDogs">

                    <div class="card text-center shadow">
                        <img
                                src="{{ dog.photo}}"
                                class="img-fluid mx-auto"
                                width="100%"
                                height="auto"
                                alt="..."
                        />
                        <div class="card-body">
                            <h3>{{ dog.name}}</h3>
                            <p class="card-text description">{{ dog.description }}</p>
                        </div>
                        <div class="card-footer">
                            <button class ="mt-3" (click)="showAdoptModal(dog)">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Adopt Me
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>
