section {
  min-height: 90vh;
  width: 100vw;
  max-width: 100vw;
  margin-top: 10vh;
}

.card{
 img {
   padding-left: 1%;
   padding-right: 1%;
   padding-top: 1%;
   width: 98%;
   height: 300px;
 }
  .description{
    height: 80px;
  }
  button {
    float: right;
  }
}
.card-footer {
  padding: .75rem 1.25rem;
  background-color: rgba(0,0,0,0);
  border-top: none!important;
}
.row {
  padding: 0 5%;
}


button {
transform: translate(-50%, -50%);
width: 130px;
height: 40px;
text-align: center;
//line-height: 20px;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 1px;
border: 2px solid lightgrey;
font-size: 14px;
color: rgba(37, 37, 37, 0.897);
transition: 0.5s;
overflow: hidden;
}
button:hover {
color: #fff;
}
button span {
position: absolute;
width: 100%;
height: 100%;
background: rgba(37, 37, 37, 0.897);
transition: 0.5s;
z-index: -1;
}
button span:nth-child(1) {
top: -100%;
left: -100%;
}
button:hover span:nth-child(1) {
top: 0;
left: 0;
}
button span:nth-child(2) {
bottom: -100%;
left: -100%;
}
button:hover span:nth-child(2) {
bottom: 0;
left: 0;
}
button span:nth-child(3) {
top: -100%;
right: -100%;
}
button:hover span:nth-child(3) {
top: 0;
right: 0;
}
button span:nth-child(4) {
bottom: -100%;
right: -100%;
}
button:hover span:nth-child(4) {
bottom: 0;
right: 0;
}


