section {
  height: 90vh;
  width: 100vw;
  max-width: 100vw;
  margin-top: 10vh;
}
.container-fluid {
  width: 100vw;
}
.row{
  flex-wrap: wrap;
}
.col-md-6 {
  height: 100vh;
  min-height: 100vh;
}
.dog1{
height: 60%;
  transform: rotate(10deg);
  border: 20px solid white;
  box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.3);
}
.dog2{
  height: 40%;
  transform: rotate(-15deg);
  border: 20px solid white;
  box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 23vh;
  right: 32vw;
}
.text{
  height: 1020px;
}
h1{
  padding-top: 15%;
    justify-content: center;
    text-align: center;
  font-family: Nanum Brush Script;
  font-size: 6em;
  letter-spacing: 0.04em;
  margin-bottom:10%;
  }
h3{
  font-family: Nanum Brush Script;

  font-size: 3em;
  margin-bottom: 50px;
}
.one{
  padding-left:10%;
}
.two{
  padding-left:30%;
}
.three{
  padding-left: 50%;
}
.four{
  padding-left: 70%;
}

i{
  color: #9C2C2C;
  font-size: 3.2em;
  float: right;
  cursor: pointer;
}
.smollecran{
  display: none;
}


@media screen and (max-width: 1400px) {
h1{
  font-size: 3em;
}
  h3{
    font-size: 1.1em;
}
}
@media screen and (max-width: 1200px) {
  h1{
    font-size: 2em;
  }
  h3{
    display: none;
  }
}

@media screen and (max-width: 900px) {
  section{
    background-image:url(../../../assets/img/dog_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .smollecran{
    display: block;
    color: white;
  }
  .ord{
    display:none;
  }
}

