<section>
  <div class="container-fluid">
    <div class="row ord">
      <div
        class="col-md-6 col-sm-12 mr-auto align-self-center text-center text-md-left">
        <div class="text">
          <h1> Life is better ... with dogs</h1>
          <h3 class ="one">Adopt them , </h3>
          <h3 class ="two"> play with them,</h3>
          <h3 class ="three"> help them, </h3>
          <h3 class ="four"> make them happy.</h3>
          <a><i class="fas fa-paw"></i></a>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 align-self-center text-center">
          <img  class = "dog1" src="../../../assets/img/dog_1.jpg">
          <img  class = "dog2" src="../../../assets/img/dog_2.jpg">
      </div>
    </div>
    <div class="smollecran">
      <h1> Life is better ... with dogs</h1>
    </div>
  </div>
</section>
